<h2>Account holders of our bank </h2>


<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <td>Customer Name</td>
            <td>Balance</td>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="customer in customers">
            <td>{{ customer.name }}</td>
            <td>${{ customer.balance }}</td>
        </tr>
        <tr>
            <td><input type="button" value="Goto HomePage" ng-click="gotoHomepage()" /></td>
        </tr>
    </tbody>
</table>

