<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../CSS/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-translate.js"></script>

   

    <script src="app.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="TranslateController">
        <button ng-click="changeLanguage('de')" translate="BUTTON_TEXT_DE"></button>
        <button ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN"></button>
    </div> 
</body>
</html>
nti