<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <title>Finance Meter</title>
    <link href="../../../Content/bootstrap.css" rel="stylesheet" />
</head>
<body ng-controller="FinanceController" class="well">
    <header>
        <h2 class="text-success">Investment Plan</h2>
    </header>
    <hr />
    <br/>
    Your Salary?
    <input type="text" ng-model="salary">
    <br />How much should you invest in shopping?
    <input type="text" ng-model="percentage">%
    <br /><br/>
    The amount to be spent on gadgets will be:  
    <span class="text-info">{{result() | currency}}</span>
    <script src="../../../Scripts/angular.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
</body>
</html>
